body{
    background-color: #151b29;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    zoom: 1.25;
}
button{
    font-family: 'Roboto', sans-serif;
    color: #ffa260;
    border-color: #ffa260;;
    background: none;
    padding: 1em 2em;
    font-size: 1em;
    transition: border-color 0.25s, color 0.25s, transform 0.25s, box-shadow 0.25s;
}

button:hover{
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.4em -0.5em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}